# Arquivos do Android Studio
*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
.cxx/

# Arquivos de build
*.apk
*.aab
*.dex
*.class

# Logs
*.log

# Chaves de assinatura
*.keystore
*.jks
